@font-face {
  font-family: "MR";
  src: url(../fifth-page/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "MB";
  src: url(../fifth-page/fonts/Montserrat-Bold.otf);
}
@font-face {
  font-family: "ML";
  src: url(../fifth-page/fonts/Montserrat-Light.otf);
}
@font-face {
  font-family: "RR";
  src: url(../fifth-page/fonts/Roboto-Regular.ttf);
}
.clearfix::after,
.clearfix::before {
  content: "";
  display: table;
  clear: both;
}
a {
  text-decoration: none;
}
body {
  width: 100%;
  font-family: "MR";
  background-color: #fff;
}
main {
  width: 100%;
  min-width: 870px;
}
header {
  width: 100%;
  height: 33px;
  background-color: #333333;
}
header > nav {
  width: 870px;
  margin: 0 auto;
  line-height: 33px;
  display: flex;
  justify-content: space-between;
}

header nav a {
  padding-right: 20px;
  font-size: 10px;
  font-weight: 400;
  color: #999999;
}
nav .nav-left {
  position: relative;
}
nav .nav-left::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  border-right: 1px solid #696969;
  border-bottom: 1px solid #696969;
  right: 8px;
  top: 15px;
  transform: rotate(45deg);
}
nav .nav-right ul {
  display: flex;
  float: left;
}
nav .nav-right ul li:not(:last-child) {
  margin-right: 30px;
}
.nav-right .nav-shop {
  margin-left: 60px;
  float: left;
  position: relative;
}
.nav-shop a {
  color: #ffffff;
  display: block;
  background-color: #00c8c8;
  padding: 0 30px 0 16px;
  display: flex;
}
.nav-shop::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  right: 15px;
  top: 13px;
  transform: rotate(45deg);
}
.nav-shop a span {
  margin-left: 16px;
}
.nav-shop a img {
  margin-top: 10px;
  line-height: 33px;
}
/*  */
main > article {
  min-height: 416px;
}
article >.n-w {
  background-color: #f8f8f8;
}
article > .n-w> nav {
  max-width: 1311px;
  min-width: 870px;
  height: 83px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
main > article > .bg {
  min-height: 343px;
  max-height: 450px;
  max-width: 2050px;
  margin: 0 auto;
  background: url(../sixth-page/images/intro.jpg) no-repeat center top;
  background-size: cover;
}
main > article > .bg section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: inherit;
}
main > article > .bg section h2 {
  font-family: "ML";
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 39px;
}
main > article > .bg section h2 span {
  font-family: "MB";
  font-weight: bold;
}
main > article > .bg section P {
  font-size: 22px;
  font-weight: 400;
  color: #ffffff;
}
article .n-w nav h1 {
  margin-top: 27px;
}
article .n-w nav h1 a {
  font-size: 18px;
  color: #222222;
}
article .n-w nav h1 a em {
  font-size: 18px;
  font-weight: bold;
}
nav .np2-right {
  display: flex;
}
nav .np2-right > ul {
  display: flex;
  margin-top: 25px;
}
nav .np2-right > ul .active a {
  color: #00c8c8;
}
nav .np2-right > ul > li:not(:last-child) {
  margin-right: 40px;
}
nav .np2-right > ul > li {
  position: relative;
}
nav .np2-right > ul > li:not(.not)::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border-right: 2px solid #989898;
  border-bottom: 2px solid #989898;
  top: 20px;
  left: 2px;
  transform: rotate(45deg);
}
nav .np2-right > ul > li:hover::after {
  border-color: #00c8c8;
}
nav .np2-right > ul > li > a {
  font-size: 10px;
  font-weight: 400;
  color: #222222;
  padding: 10px 0 30px 0;
}
nav .np2-right > ul > li:hover > a {
  color: #00c8c8;
}
.np2-right > ul li > .sub-nav {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  box-sizing: border-box;
  width: 346px;
  height: 415px;
  padding: 20px;
  display: none;
  background: #f8f8f8;
  box-shadow: 0px 13px 18px 0px rgba(0, 0, 0, 0.14);
  top: 30px;
}
.np2-right > ul li:hover > .sub-nav {
  display: flex;
  z-index: 999;
}
.np2-right > ul > li > .sub-nav > ul {
  margin-right: 55px;
}
.np2-right > ul > li > .sub-nav > ul h3 {
  font-size: 9px;
  font-weight: 400;
  color: #575153;
  margin-bottom: 20px;
}
.np2-right > ul > li > .sub-nav > ul > li {
  margin-bottom: 10px;
}
.np2-right > ul > li > .sub-nav > ul > li a {
  font-family: "ML";
  font-size: 10px;
  font-weight: 300;
  color: #727272;
}
.np2-right > ul > li > .sub-nav > section {
  box-sizing: border-box;
  padding: 40px 39px;
  margin-top: 35px;
  width: 301px;
  height: 148px;
  background: #333333;
  font-family: "MB";
  font-size: 27px;
  font-weight: bold;
  color: #ffffff;
  line-height: 36px;
}
.np2-right .search {
  position: relative;
  margin-left: 80px;
  margin-top: 23px;
}
.np2-right .search input {
  box-sizing: border-box;
  width: 141px;
  height: 22px;
  background: rgba(248, 248, 248, 0);
  border: 1px solid #e7e7e7;
  outline: none;
  padding: 7px 0 7px 8px;
}
.np2-right .search input::placeholder {
  font-size: 10px;
  font-weight: 300;
  color: #989898;
}
.np2-right .search a {
  position: absolute;
  right: 8px;
  top: 4px;
}
/*  */
section.art {
  background-color: #fff;
  height: 272px;
}
section.art .art-list {
  display: flex;
  justify-content: space-between;
  width: 870px;
  margin: 0 auto;
}
.art-list article {
  margin-top: 45px;
  width: 273px;
}
.art-list article h3 {
  font-size: 13px;
  font-weight: 400;
  color: #575153;
}
.art-list article h4 {
  margin-top: 21px;
  margin-bottom: 13px;
  font-size: 10px;
  font-weight: 400;
  color: #727272;
  word-break: break-all;
}
.art-list article p {
  font-size: 11px;
  font-family: "RR";
  font-weight: 400;
  color: #8e8c8c;
  line-height: 16px;
  word-break: break-all;
}
.art-list article div {
  margin-top: 20px;
}
.art-list article div a {
  display: block;
  width: 161px;
  text-align: center;
  padding: 17px 0;
  font-size: 12px;
  font-weight: 400;
  color: #454647;
  border: 2px solid #737373;
}
.art-list article div a:hover {
  color: #f8f8f8;
  background-color: #00c8c8;
  border-color: #00c8c8;
}
.art-list article:first-child div a {
  color: #f8f8f8;
  background-color: #00c8c8;
  border-color: #00c8c8;
}
/*  */
section.map {
  display: flex;
  width: 100%;
  min-height: 393px;
  max-width: 1518.4px;
  margin: 0 auto;
  background-color: #f8f8f8;
  margin-bottom: 92px;
}
.map > section {
  width: 1027px;
  flex-grow: 1;
}
.map > section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: bottom;
}
.map > article {
  box-sizing: border-box;
  width: 491px;
  padding: 31px 40px 0 30px;
  flex-grow: 1;
}
.map > article h3 {
  font-size: 13px;
  font-weight: 400;
  color: #575153;
}
.map > article h4 {
  font-size: 10px;
  font-weight: 400;
  color: #727272;
  margin-top: 21px;
  margin-bottom: 8px;
}
.map > article p {
  font-size: 11px;
  font-family: "RR";
  font-weight: 400;
  color: #8e8c8c;
  line-height: 16px;
}
.map > article ul{
  margin-top: 18px;
}
.map > article ul li {
  font-size: 10px;
  font-family: "ML";
  font-weight: 300;
  color: #8e8c8c;
  word-break: break-all;
}
.map > article ul li:first-child img{
  margin-right: 11px;
}
.map > article ul li img{
  vertical-align: middle;
  margin-right: 8px;
}
.map > article ul li:not(:last-child) {
  margin-bottom:  13px;
}
.map > article > section{
  margin-top: 46px;
}
.map > article > section a {
  margin-right: 5px;
}
.map > article section a img{
  width: 22px;
}
/*  */
footer {
  height: 474px;
}
.f-top {
  height: 441px;
  background-color: #f8f8f8;
}
.f-top > article {
  display: flex;
  justify-content: space-between;
  width: 870px;
  margin: 0 auto;
}
.f-top > article > section {
  margin-top: 47px;
}
.f-top > article > section h3 {
  font-size: 10px;
  font-weight: 400;
  color: #575153;
  margin-bottom: 17px;
}
.f-top > article > section > p {
  margin-bottom: 10px;
}
.f-top article > section .se a {
  color: #00c8c8;
}
.f-top > article > section > a {
  line-height: 15px;
}
.f-top > article > section > a:nth-child(2) {
  margin-top: -4px;
}
.f-top > article > section > a:nth-child(3) {
  margin-bottom: 17px;
}
.f-top > article > section a {
  display: block;
  font-family: "ML";
  font-size: 10px;
  font-weight: 300;
  color: #727272;
}
.f-top .tuiguang {
  display: flex;
  justify-content: space-between;
  width: 870px;
  margin: 0 auto;
  margin-top: 35px;
}
.f-top .tuiguang > section {
  width: 422px;
  height: 148px;
}
.f-top .tuiguang > section > h3 {
  margin-bottom: 10px;
  font-family: "MB";
  font-size: 27px;
}
.f-top .tuiguang > section p {
  font-family: "ML";
  font-size: 27px;
  font-weight: 300;
  opacity: 0.9;
}

.f-top .tuiguang > section:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #333333;
  text-align: center;
  color: #ffffff;
}
.f-top .tuiguang > section:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00c8c8;
}
.f-top .tuiguang > section:last-child > a {
  margin-right: 35px;
}
.f-top .tuiguang > section:last-child > a img {
  height: 25px;
  vertical-align: middle;
}
.f-top .tuiguang > section:last-child > a:nth-child(2) img {
  height: 20px;
}
.f-bottom {
  height: 33px;
  line-height: 33px;
  background-color: #333333;
}
.f-bottom > footer {
  display: flex;
  justify-content: space-between;
  width: 870px;
  margin: 0 auto;
  height: 33px;
  font-size: 10px;
  font-weight: 400;
  color: #999999;
}
.f-bottom > footer > article:last-child > section {
  float: left;
  margin-left: 30px;
}
@media screen and (max-width: 920px) {
  nav .np2-right > ul > li:not(:last-child) {
    margin-right: 20px;
  }
  .nav-right .nav-shop {
    margin-left: 40px;
  }
}
